<div class="question_container">
    <p class="no"><%= qNumber%></p>
    <p class="question"><%= question%></p>
    <fieldset class="choice_container">
        <% choices.split(",").forEach(function(choice){ %>
            <input type="radio" name="<%= question%>" id="<%= choice%>" value="<%= choice%>">
            <label for="<% choice%>"><%= choice%></label>
        <% })%>
    </fieldset>
</div>