<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/dashboard.css">
        <title>Dashboard</title>
    </head>

    <body>
        <%- include("header_footer/header", {studentName: studentName})%>
        <main className="Center_Section">
            <div className="container_left">
                <h1>Available Quizzes</h1>
                <div className="display_quizes">
                    <% availQuizzes.forEach(function(quiz) { %>
                        <form action="/take_quiz"  method="POST">
                            <div className="quiz">
                                <label for="take_quiz_btn"><%= quiz.q_name%></label>
                                <input type="hidden" name="quiz_name" value="<%= quiz.q_name%>">
                                <input type="submit" name="take_quiz_btn" value="Take Quiz">
                            </div>
                        </form>
                    <% }) %>
                </div>
            </div>
            <div className="container_right">
                <h1>Your history</h1>
                <div className="display_history">
                    <% studentHistory.forEach(function(data) { %>
                        <% if(data.quiz_code == 0) { %>
                            <div>
                                <p><%= data.quiz_name%></p>
                            </div>
                        <% } else { %>
                            <div>
                                <p><%= data.quiz_name%></p>
                                <p><%= data.quiz_code%></p>
                                <p><%= `${data.score}/${data.over}`%></p>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
                <div className="buttons_right_container">
                    <button> Refresh </button>
                </div>
            </div>
        </main>
    </body>
    <%- include("header_footer/footer")%>

</html>