<div id="<%= dom_id student %>">
  <p>
    <strong>Acc ID:</strong>
    <%= student.acc_id %>
  </p>

  <p>
    <strong>User ID:</strong>
    <%= student.user_id %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= student.password %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

</div>

<!-- <tr id="<%= dom_id student %>">
  <td><%= student.acc_id%></td>
  <td><%= student.user_id%></td>
  <td><%= student.password%></td>
  <td><%= student.last_name%></td>
  <td><%= student.first_name%></td>
</tr> -->
